#stackImg-container {
    position:absolute;
}

#stackImg-container img{
    width: 100vw;
    height: 400px;
}

#logo-container{
    position: relative;
}

#home-logo-name{
    width: 50%;
    margin-left: 25%;
}