#stackImg-container {
    position:absolute;
}

#stackImg-container img{
    width: 100vw;
    height: 300px;
}

#logo-container{
    position: relative;
}

#home-logo-name{
    width: 40%;
    margin-left: 25%;
}