
.featured-book {
    margin-top: 50px;
    text-align: center;
}

.featured-book img {
    margin-bottom: 5px;
    height: 300px;
    cursor: pointer;
}

.featured-book img:hover{
    transition: 1s;
    transform: scale(1.05);
}

